enable-pre-post-scripts=true
public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=*esbuild*
strict-peer-dependencies=false

# Approved build scripts
approve-builds=@prisma/client
approve-builds=@prisma/engines
approve-builds=esbuild
approve-builds=prisma
approve-builds=unrs-resolver